@import "style.css";
@import "navbar.css";

body {
    margin: 0;
    padding: 0;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    height: auto;
}

.artwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: auto;
    padding: 24px;
    background-color: var(--color-dark-blue);
    margin: 24px auto;
    border-radius: 12px;
    /* margin-left: 100px; */
}

.artwork__img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    height: auto;
}

.artwork__img img {
    position: relative;
    max-width: 80%;
    height: 100%;
    object-fit: cover;
}

.commission {
    position: sticky;
    top: 20px; /* Adjust this value as per your needs */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 25%;
    height: 500px;
    padding: 24px;
    background-color: var(--color-dark-blue);
    margin: 24px auto;
    border-radius: 12px;
    color: var(--color-white);
    gap: 24px;
    overflow-x: hidden;
  }

  .commission__profile {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .commission__profile > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .commission__porto{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .commission__porto-text {
    display: flex;
    justify-content: space-between;
    color: var(--color-dark-gray);
  }

  .commission__porto-img {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
  }

  .commission__porto-img img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    /* margin-right: 12px; */
  }

  .commission__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    text-decoration: none;
    background-color: var(--color-blue);
    padding: 24px;
    transition: 0.5s;
    cursor: pointer;
  }

  .commission__button a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
  }  

  .commission__button:hover {
    filter: brightness(130%);
  }



.artist-profile {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    background-color: var(--color-blue);
    color: black;
}

  .artwork__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 16px;
    color: var(--color-white);

}

.artwork__profile-user{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.artwork__profile-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.artwork__profile-user p {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.artwork__profile-user > p {
    font-size: 24px;
}

.artwork__profile-user__follow {
    font-weight: 600px;
    padding: 16px 30px;
    border-radius: 36px;
    background-color: var(--color-blue);
    cursor: pointer;
    transition: 0.5s;
}

.artwork__profile-user__follow p {
    display: flex;
    align-items: center;
}

.artwork__profile-user__follow:hover {
    filter: brightness(130%);
}

.artwork__content{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 16px;
    font-size: 36px;
}

.artwork__detail{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    margin: 0 16px;
    font-size: 24px;
    gap: 24px;
}

.artwork__detail-rate {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 24px;
}

.artwork__detail-rate__content{
    display: flex;
    align-items: center;
    color: var(--color-dark-gray);
    cursor: pointer;
}

.artwork__detail-rate__content p {
    /* height: 32px; */
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.artwork__detail-date {
    color: var(--color-dark-gray);
}


