@import "style.css";
@import "navbar.css";

body {
    /* width: 100vh; */
}

.artwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 24px;
    background-color: var(--color-dark-blue);
    margin: 24px auto;
    border-radius: 12px;
    /* margin-left: 100px; */
}

.artwork__img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    height: auto;
}

.artwork__img img {
    position: relative;
    max-width: 80%;
    height: 100%;
    object-fit: cover;
}

.artwork__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 16px;
    color: var(--color-white);
}

.artwork__profile-user{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.artwork__profile-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.artwork__profile-user p {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.artwork__profile-user > p {
    font-size: 24px;
}

.artwork__profile-user__follow {
    font-weight: 600px;
    padding: 16px 30px;
    border-radius: 36px;
    background-color: var(--color-blue);
    cursor: pointer;
    transition: 0.5s;
}

.artwork__profile-user__follow p {
    display: flex;
    align-items: center;
}

.artwork__profile-user__follow:hover {
    filter: brightness(130%);
}

.artwork__content{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    gap: 16px;
    font-size: 36px;
}

.artwork__detail{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    margin: 0 16px;
    font-size: 24px;
    gap: 24px;
}

.artwork__detail-rate {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 24px;
}

.artwork__detail-rate__content{
    display: flex;
    align-items: center;
    color: var(--color-dark-gray);
    cursor: pointer;
}

.artwork__detail-rate__content p {
    /* height: 32px; */
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.artwork__detail-date {
    color: var(--color-dark-gray);
}
