@import "navbar.css";

.commission-detail {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 80%;
    color: var(--color-white);
    list-style: decimal;
    padding: 48px 24px;
    gap: 24px;
}

.commission-detail h2 {
    margin: 0 auto;
}

.commission-detail__def li{
    list-style: decimal;
}

.commission-detail__def-ul{
    margin-left: 24px;
}

.commission-detail__def-ul li{
    list-style: disc;
}

.checkbox__label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-dark-gray);
  }

  .checkbox__label input[type="checkbox"] {
    margin-right: 10px;
  }

  .checkbox__label input[type="checkbox"]:focus {
    outline: none;
  }

  .checkbox__label input[type="checkbox"]+span {
    cursor: pointer;
  }

  .checkbox__label input[type="checkbox"]+span:hover {
    text-decoration: underline;
  }

  .checkbox__error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .checkbox__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 144px;
    padding: 10px 0;
    /* margin: 0 auto; */
    border: none;
    border-radius: 5px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
  }