@import "navbar.css";

main {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#form__background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 50vw;
    padding: 1vw;
}

.form__header-title {
    font-weight: bold;
    margin-bottom: 3vh;
}

input, textarea {
    border-color: var(--color-gray);
    border-radius: 3px;
    border-style: solid;
    padding: 0.5vw;
}

.form__input-title {
    margin-bottom: 1vh;
}

.form__full-width-input input {
    width: 40vw;
    margin-bottom: 1vh;
}

textarea {
    width: 40vw;
    margin-bottom: 1vh;
}

.form__half-width {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

select {
    border-color: var(--color-gray);
    background-color: var(--color-white);
    border-radius: 3px;
    border-style: solid;
    padding: 0.5vw;
}

#button-submit {
    padding: 1vh;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 3px;

    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s;
}

#button-div {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
