:root{
  --color-blue: #2f80ec;
  --color-dark-blue: #292c4b;
  --color-white: #ffffff;
  --color-white-gray: #f6f7fb;
  --color-gray: #cccccc;
  --color-dark-gray: #858585;
  --color-pink: #D7BDCA;
  --color-dark-pink: #6A515E;
  --color-green-blue: #00E0B9;
  --color-green: #8BF188;
  --color-yellow: #F9F871;
  --color-dark-purple: #4D446A;
  --color-bg: #fff8ee;
  --color-dark-chocolate: #55433C;
  --color-chocolate: #f8e3c9;
  --color-font: #B6A999;
  --color-dark-font: #685D4E;
  --color-button: #00917B;

  --curve: 36;
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  background-color: var(--color-bg);
  width: 100vw;
}
