<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/arts.css" rel="stylesheet"/>
  <script src="../lib/jquery-3.7.0.min.js"></script>
  <script src="../script/headerFooter.js"></script>
  <title>ArtVril - Arts</title>
</head>
<body>
<header class="nav"></header>

<section class="content-wrap">
  <main class="artwork">
    <div class="artwork__img">
      <img alt="artkwork" src="../public/art/kazuha_fanart.png"/>
    </div>
  </main>
  <aside class="commission">
    <div class="commission__profile">
      <a href="profile.html">
        <img alt="profile-img" src="../public/art/gebi.jpg"/>
      </a>
      <h3>kimvrielle</h3>
    </div>
    <div class="commission__porto">
      <div class="commission__porto-text">
        <h3>Other works</h3>
        <p>See more</p>
      </div>
      <div class="commission__porto-img">
        <a href="#">
          <img alt="" src="../public/art/post-1.jpg"/>
        </a>
        <a href="#">
          <img alt="" src="../public/art/post-2.jpg"/>
        </a>
        <a href="#">
          <img alt="" src="../public/art/post-3.webp"/>
        </a>
      </div>
    </div>
    <div class="commission__desc">
          <span
          >I do illustration and design. I'm currently studying Visual
            Communication Design in university. On my free time, i like to learn
            the ukulele or paint in my sketchbook!</span
          >
    </div>
    <div class="commission__button">
      <a href="commission.html">Commission Now!</a>
    </div>
  </aside>
</section>

<div class="artist-profile">
  <div class="artwork__profile">
    <div class="artwork__profile-user">
      <img alt="user-picture" src="../public/art/gebi.jpg"/>
      <p>@kimvrielle</p>
      <div class="artwork__profile-user__follow">
        <p>Follow +</p>
      </div>
    </div>
    <div class="artwork__content">
      <p>&hearts;</p>
      <p>...</p>
    </div>
  </div>
  <div class="artwork__detail">
    <p class="artwork__detail-caption" id="hastag">
      maple boi 🍁 #kazuha if you like this, you can get this as your phone
      lockscreen! link on bio ☁️ special thanks to mi pren @cranberrypuree
      for her help
    </p>
    <div class="artwork__detail-rate">
      <div class="artwork__detail-rate__content">
        <p>&hearts;</p>
        <p>7.2k</p>
      </div>
      <div class="artwork__detail-rate__content">
        <p>&#9993;</p>
        <p>1.2k</p>
      </div>
    </div>
    <div class="artwork__detail-date">
      <p>August 02, 2021 09:32 AM</p>
    </div>
  </div>
</div>

<footer class="footer"></footer>
<script src="../script/index.js"></script>
</body>
</html>
