<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/arts.css" />
    <title>ArtVril - Arts</title>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <div class="header__logo">
          <img src="../public/img/logo-ArtVril.png" alt="" />
        </div>
        <h1>ArtVril</h1>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Search Images" />
          <button type="submit">Search</button>
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item-work">Upload Your Work</li>
            <li class="header__item-envelop">&#9993;</li>
            <li class="header__item-profile">
              <img src="../public/img/avril.jpg" alt="user-profile" />
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <div class="sidebar__top">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <img src="../public/img/logo-ArtVril.png" alt="" />
      </div>
      <div class="sidebar__menu-list">
        <ul class="sidebar__menu">
          <h3>Home</h3>
          <li class="sidebar__menu-item">Illustrations</li>
          <li class="sidebar__menu-item">Manga</li>
          <li class="sidebar__menu-item">Vector</li>
        </ul>
        <ul class="sidebar__menu">
          <h3>Popularity</h3>
          <li class="sidebar__menu-item">Top Search</li>
          <li class="sidebar__menu-item">New Posts</li>
          <li class="sidebar__menu-item">Comissions</li>
        </ul>
      </div>
      <div class="sidebar__bottom">
        <p>
          Copyright 2023 - ArtVril. All artworks and content shared on this
          social media platform are protected by copyright law. All rights
          reserved.
        </p>
      </div>
    </div>

    <section class="content-wrap">
      <main class="artwork">
        <div class="artwork__img">
          <img src="../public/art/kazuha_fanart.png" alt="artkwork" />
        </div>
      </main>
      <aside class="commission">
        <div class="commission__profile">
          <img src="../public/art/gebi.jpg" alt="profile-img" />
          <h3>kimvrielle</h3>
        </div>
        <div class="commission__porto">
          <div class="commission__porto-text">
            <h3>Other works</h3>
            <p>See more</p>
          </div>
          <div class="commission__porto-img">
            <img src="../public/art/post-1.jpg" alt="" />
            <img src="../public/art/post-2.jpg" alt="" />
            <img src="../public/art/post-3.webp" alt="" />
          </div>
        </div>
        <div class="commission__desc">
          <span
            >I do illustration and design. I'm currently studying Visual
            Communication Design in university. On my free time, i like to learn
            the ukulele or paint in my sketchbook!</span
          >
        </div>
        <div class="commission__button">
          <a href="commission.html">Commission Now!</a>
        </div>
      </aside>
    </section>

    <div class="artist-profile">
      <div class="artwork__profile">
        <div class="artwork__profile-user">
          <img src="../public/art/gebi.jpg" alt="user-picture" />
          <p>@kimvrielle</p>
          <div class="artwork__profile-user__follow">
            <p>Follow +</p>
          </div>
        </div>
        <div class="artwork__content">
          <p>&hearts;</p>
          <p>...</p>
        </div>
      </div>
      <div class="artwork__detail">
        <p class="artwork__detail-caption" id="hastag">
          maple boi 🍁 #kazuha if you like this, you can get this as your phone
          lockscreen! link on bio ☁️ special thanks to mi pren @cranberrypuree
          for her help
        </p>
        <div class="artwork__detail-rate">
          <div class="artwork__detail-rate__content">
            <p>&hearts;</p>
            <p>7.2k</p>
          </div>
          <div class="artwork__detail-rate__content">
            <p>&#9993;</p>
            <p>1.2k</p>
          </div>
        </div>
        <div class="artwork__detail-date">
          <p>August 02, 2021 09:32 AM</p>
        </div>
      </div>
    </div>

    <script src="../script/hastag.js"></script>
    <script src="../script/index.js"></script>
  </body>
</html>
