<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/commission.css" />
    <title>ArtVril</title>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <div class="header__logo">
          <img src="../public/img/logo-ArtVril.png" alt="" />
        </div>
        <h1>ArtVril</h1>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Search Images" />
          <button type="submit">Search</button>
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item-work">Upload Your Work</li>
            <li class="header__item-envelop">&#9993;</li>
            <li class="header__item-profile">
              <img src="../public/img/avril.jpg" alt="user-profile" />
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <div class="sidebar__top">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <img src="../public/img/logo-ArtVril.png" alt="" />
      </div>
      <div class="sidebar__menu-list">
        <ul class="sidebar__menu">
          <h3>Home</h3>
          <li class="sidebar__menu-item">Illustrations</li>
          <li class="sidebar__menu-item">Manga</li>
          <li class="sidebar__menu-item">Vector</li>
        </ul>
        <ul class="sidebar__menu">
          <h3>Popularity</h3>
          <li class="sidebar__menu-item">Top Search</li>
          <li class="sidebar__menu-item">New Posts</li>
          <li class="sidebar__menu-item">Comissions</li>
        </ul>
      </div>
      <div class="sidebar__bottom">
        <p>
          Copyright 2023 - ArtVril. All artworks and content shared on this
          social media platform are protected by copyright law. All rights
          reserved.
        </p>
      </div>
    </div>

    <main class="commission-detail">
      <h2>Syarat dan Ketentuan Commission</h2>
      <span
        >Bila ada kendala dengan S&K berikut, saya terbuka banget untuk diskusi
        bareng sebelum pembayaran.</span
      >
      <ol class="commission-detail__def">
        <h3>Definisi</h3>
        <li>Klien: Individu yang membeli Commission (Anda)</li>
        <li>
          Ilustrator: Individu yang memproduksi Commission
          (Saya/Gaby/kimvrielle)
        </li>
        <li>
          Mulai Kerja: Waktu dimana Klien membenarkan Ilustrator untuk mulai
          mengerjakan Commission
        </li>
        <li>
          Commission: Karya seni yang diproduksi oleh Ilustrator sesuai
          permintaan Klien.
        </li>
        <li>
          Progress Check: Update pada setiap tahap pengerjaan Commission yang
          memerlukan pendapat dari Klien
        </li>
      </ol>
      <ol class="commission-detail__def">
        <h3>Umum</h3>
        <li>
          Setiap karya memiliki sign/watermark yang tidak boleh dihilangkan.
        </li>
        <li>Tarif Commission dapat berubah sewaktu-waktu.</li>
        <li>
          Saya akan menolak permintaan membuat karya yang berhubungan dengan
          materi seksual, fetish, gambar yang berbau membenci/rasisme/gory, dan
          segala karya yang ditujukan untuk memenuhi tanggung jawab akademismu
          (alias joki tugas)
        </li>
        <li>
          Saya berhak menolak permintaan yang membuatku tidak nyaman atau tidak
          sejalan dengan nilai-nilai yang saya pegang, tanpa perlu menjelaskan
          alasannya secara detil.
        </li>
        <li>
          Saya berhak membatalkan permintaan Commission apabila ada komunikasi
          yang buruk, perilaku kasar/tidak sopan, maupun pelanggaran S&K oleh
          Klien. Apabila perilaku tersebut terjadi dari pihak Klien, uang muka
          tidak akan dikembalikan.
        </li>
        <li>
          Ada kemungkinan Commission dibatalkan karena masalah dari pihak
          Ilustrator (contoh: tidak dapat melanjutkan karena masalah kesehatan).
          Dalam hal ini, uang muka akan dikembalikan ke Klien.
        </li>
      </ol>
      <ol class="commission-detail__def">
        <h3>pembayaran</h3>
        <li>Mata uang yang diterima berupa USD atau IDR.</li>
        <li>
          Pembayaran dapat dilakukan melalui Paypal atau layanan mobile banking
          IDR berikut: BCA, Gopay, DANA, OVO, ShopeePay.
        </li>
        <li>
          Pembayaran dibagi menjadi: 50% sebelum Mulai Kerja dan 50% sebelum
          karya final diterima. Klien hanya akan menerima karya final setelah
          pembayaran akhir diterima sepenuhnya.
        </li>
        <li>
          Pembayaran 50% di muka dilakukan setelah saya menyetujui untuk
          melakukan Commission dan meminta pembayaran. Untuk menghindari
          miskomunikasi, tolong jangan kirim pembayaran apapun dulu sebelum
          permintaan dari saya.
        </li>
      </ol>
      <ol class="commission-detail__def">
        <h3>Proses</h3>
        <li>
          Klien harus menjelaskan permintaan Commission secara rinci dan
          menyertakan foto referensi.
        </li>
        <li>
          Akan ada biaya tambahan tergantung kerumitan dan ukuran yang akan
          didiskusikan sebelum Mulai Kerja.
        </li>
        <li>
          Saya akan menginfokan Klien ketika Mulai Kerja. Setelah diinfokan,
          Klien akan kehilangan hak untuk pengembalian dana.
        </li>
        <li>
          Jika membatalkan pesanan sebelum diinfokan tentang Mulai Kerja, Klien
          berhak mendapatkan pengembalian dana penuh.
        </li>
        <li>
          Commission akan selesai dalam jangka waktu 3 hari-2 minggu, tergantung
          tingkat kerumitan, kondisi kesehatan, dan prioritas lainnya. Jika
          ingin meminta Commission diselesaikan dalam jangka waktu dekat, akan
          ada biaya tambahan. Saya akan kabari apabila ada kendala yang
          memperlambat jangka waktu penyelesaian.
        </li>
        <li>
          Saya akan mengirimkan Progress Check pada setiap tahap pengerjaan yang
          memerlukan pendapat Klien. Jumlah Progress Check tergantung pada
          tingkat kerumitan karya. Klien dapat memberikan pendapat dan revisi
          pada setiap Progress Check, tapi tidak diperkenankan untuk meminta
          perubahan pada progres yang sudah disetujui sebelumnya. Jika Klien
          ingin mengubah apapun dari progres sebelumnya, akan dikenakan biaya
          tambahan tergantung pada skala perubahan tersebut – kecuali terjadi
          kesalahpahaman dari pihak Ilustrator.
        </li>
      </ol>
      <ol class="commission-detail__def">
        <h3>Hak Klien</h3>
        <li>
          Untuk karya seni digital, Anda (Klien) akan menerima produk digital
          karya seni (PNG) resolusi penuh melalui link Google Drive. (Tidak
          termasuk file asli (contoh: .psd, .ai, dll.) kecuali sudah dibahas
          sebelumnya.)
        </li>
        <li>
          Untuk karya seni tradisional, Anda akan menerima karya seni orisinil
          dalam bentuk fisik.
        </li>
        <li>
          Permintaan cetak dan bingkai dapat dilakukan dengan biaya tambahan,
          tergantung domisili Anda.
        </li>
        <li>
          Ketentuan berikut adalah untuk Commission yang diproduksi untuk
          keperluan pribadi:
          <ul class="commission-detail__def-ul">
            <h4>Klien Diperbolehkan</h4>
            <li>
              Menggunakan dan menampilkan hasil karya untuk keperluan pribadi
              (contoh: mengunggahnya di platform media sosial, menggunakan
              sebagai wallpaper, dll.) selama sign/watermark Ilustrator
              ditampilkan dengan benar.
            </li>
            <li>Mencetak karya seni sendiri untuk keperluan pribadi.</li>
          </ul>
          <ul class="commission-detail__def-ul">
            <h4>Klien tidak diperbolehkan untuk</h4>
            <li>
              Mendistribusikan, menggandakan, menjual kembali, atau menggunakan
              hasil karya Commission untuk keperluan komersil (menghasilkan uang
              dengan cara apa pun dari hasil karya Commission).
            </li>
            <li>
              Mengedit, mengubah, atau meniru Commission tanpa izin tertulis
              dari Ilustrator.
            </li>
            <li>Menghapus sign/watermark dari karya seni.</li>
            <li>
              Mengikutsertakan hasil karya untuk segala jenis kompetisi
              online/offline.
            </li>
            <li>
              Menyalahgunakan hasil karya dengan cara apa pun yang dapat merusak
              reputasi Ilustrator.
            </li>
          </ul>
        </li>
      </ol>
      <ol class="commission-detail__def">
        <h3>Hak Ilustrator</h3>
        <li>
          Saya, Gabrielle Kimberly (Ilustrator), mengklaim hak cipta atas karya
          seni yang diproduksi, yang meliputi namun tidak terbatas pada:
          distribusi, reproduksi, penggunaan Commission untuk promosi
          Ilustrator.
        </li>
        <ul class="commission-detail__def-ul">
          <h4>Saya diizinkan untuk</h4>
          <li>Menggunakan hasil karya Commission untuk promosi diri</li>
          <li>
            Menerbitkan buku yang di dalamnya terdapat hasil karya Commission
            (artbook, dll.)
          </li>
          <li>
            Menampilkan proses maupun karya final di platform apa pun (situs
            web, media sosial, dll.)
          </li>
          <li>
            Tolong beritahu saya jika Anda ingin Commission tidak diunggah
            karena alasan tertentu (contoh: karya ingin dijadikan hadiah
            kejutan, dll.) Saya akan menunda waktu posting ke tanggal yang
            dibahas.
          </li>
        </ul>
        <li>
          Ilustrator memiliki hak cipta penuh untuk setiap desain awal dan karya
          tak sengaja yang dibuat dalam proses pembuatan Commission, kecuali
          sudah dibahas sebelumnya.
        </li>
      </ol>
      <ol class="commission-detail__def">
        <h3>Perihal Pengembalian Dana</h3>
        <li>
          Jika Anda mendapatkan pengembalian uang, saya akan langsung transfer
          kembali. Jangan meminta Paypal chargeback. Jika Anda meminta Paypal
          chargeback saat Anda tidak dalam posisi berhak menerima pengembalian
          dana, Anda akan kehilangan semua hak atas Commission dan saya akan
          memiliki hak penuh untuk mendapatkan keuntungan lebih lanjut dari
          hasil karya. Saya akan menolak chargeback dan mengirimkan Paypal
          percakapan kita sebagai bukti bahwa saya telah menyelesaikan pekerjaan
          sesuai standar. Anda akan masuk blacklist untuk memesan Commission
          saya di kemudian hari.
        </li>
        <li>
          Untuk pengiriman karya seni tradisional/digital print, Klien
          bertanggung jawab memastikan detail alamat sudah benar dan akurat.
          Setiap pihak harus saling mengabarkan apabila terdapat perubahan
          alamat.
        </li>
        <li>
          Jika Klien tidak puas dengan Commission karena alasan yang sesuai,
          Klien harus menghubungi Ilustrator dalam jangka waktu tujuh (7) hari
          setelah menerima Commission.
        </li>
        <ul class="commission-detail__def-ul">
          <li>
            Alasan tidak menyukai hasil akhir atau berubah pikiran tidak akan
            dipertimbangkan untuk pengembalian dana; selama pengerjaan, saya
            akan mengirimkan Progress Check untuk memastikan hal tersebut tidak
            terjadi.
          </li>
          <li>
            Klien harus menyatakan apakah ingin pengembalian dana penuh atau
            ganti rugi alternatif.
          </li>
          <li>
            Klien memiliki waktu tiga puluh (30) hari untuk mengirimkan
            Commission [tradisional] dalam kemasan aslinya beserta seluruh
            dokumen yang ada; waktu tujuh [7] hari untuk mengirimkan Commission
            [digital] kembali ke Ilustrator dan menghapus format digital
            Commission. Jika tidak, pengembalian uang tidak akan dilakukan.
            Ongkos kirim akan ditanggung Klien.
          </li>
          <li>
            Pengembalian dana akan diberikan secara penuh kepada Klien oleh
            Ilustrator setelah Commission diterima dalam kondisi yang sudah
            dijelaskan.
          </li>
        </ul>
        <li>
          Untuk karya seni tradisional/digital print, Ilustrator tidak
          bertanggung jawab atas kerusakan atau pencurian yang terjadi kepada
          Commission kecuali yang terjadi selama Commission berada dalam
          kepemilikan saya. Saya akan menghubungi Anda jika hal ini terjadi.
        </li>
        <ul class="commission-detail__def-ul">
          <li>
            Dengan melakukan pembayaran, Klien menerima semua resiko kerusakan.
          </li>
          <li>
            Jika terjadi kerusakan, Klien harus mengabari Ilustrator dalam
            jangka waktu tujuh (7) hari setelah menerima Commission, dengan
            menyertakan bukti kerusakan tersebut.
          </li>
          <li>
            Jika Commission telah rusak tetapi Klien ingin mempertahankan
            kepemilikan, Ilustrator akan mengembalikan dana sebanyak 50% biaya
            penuh kembali ke Klien, atau sebanyak jumlah yang dinegosiasikan.
          </li>
          <li>
            Jika Komisi dicuri, hilang, atau hancur selama pengiriman,
            Ilustrator akan mengembalikan dana sebanyak 50% dari biaya penuh
            kembali ke Klien, atau sebanyak jumlah yang dinegosiasikan.
          </li>
          <li>
            Segala kerusakan atau pencurian yang disebabkan oleh kesalahan Klien
            atau terjadi selama kepemilikan Klien tidak akan dikenakan
            pengembalian dana.
          </li>
        </ul>
        <li>
          Untuk karya seni digital, Ilustrator tidak bertanggung jawab atas
          plagiarisme online atau segala bentuk penyalinan yang dilakukan oleh
          pihak lain.
        </li>
      </ol>
      <p>
        Jika Anda (Klien) melanggar syarat dan ketentuan apa pun, Anda akan
        kehilangan semua hak yang disebutkan atas karya seni yang dipesan kepada
        saya, Gabrielle Kimberly (Ilustrator), dan saya akan memiliki hak untuk
        mendapatkan keuntungan lebih lanjut dari karya seni yang dipesan dengan
        cara apa pun. Jika terdapat kendala terhadap S&K ini, saya terbuka untuk
        berdiskusi sebelum Anda melakukan pembayaran.
      </p>
      <form
        action="form.html"
        class="checkbox"
        onsubmit="return validateForm()"
      >
        <label class="checkbox__label">
          <input type="checkbox" name="agree" id="agree" />
          <span> I agree with the terms and conditions </span>
        </label>
        <div class="checkbox__error" id="error"></div>
        <br />

        <input
          class="checkbox__button"
          type="submit"
          value="submit
        "
        />
      </form>
    </main>

    <script src="../script/index.js"></script>
  </body>
</html>
