<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/form-upload.css" rel="stylesheet"/>
  <title>ArtVril</title>
  <script src="../lib/jquery-3.7.0.min.js"></script>
  <script src="../script/headerFooter.js"></script>
</head>
<body>
<header class="nav"></header>

<aside class="sidebar">
  <div class="sidebar__top">
    <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
    <a href="index.html">
      <img alt="" src="../public/img/logo-ArtVril.png"/>
    </a>
  </div>
  <div class="sidebar__menu-list">
    <ul class="sidebar__menu">
      <h3>Home</h3>

      <li class="sidebar__menu-item">
        <a href="search.html"> Illustrations </a>
      </li>

      <li class="sidebar__menu-item"><a href="search.html"> Manga </a></li>

      <li class="sidebar__menu-item"><a href="search.html"> Vector </a></li>
    </ul>
    <ul class="sidebar__menu">
      <h3>Popularity</h3>

      <li class="sidebar__menu-item">
        <a href="search.html"> Top Search </a>
      </li>

      <li class="sidebar__menu-item">
        <a href="search.html"> New Posts </a>
      </li>
      <li class="sidebar__menu-item">
        <a href="profile.html"> Comissions </a>
      </li>
    </ul>
  </div>
  <div class="sidebar__bottom">
    <p>
      Copyright 2023 - ArtVril. All artworks and content shared on this
      social media platform are protected by copyright law. All rights
      reserved.
    </p>
  </div>
</aside>

<main>
  <div id="form__background">
    <div class="form-upload">
      <div class="form__header-title">ArtVril Commission Form</div>
      <form action="form-commission-confirmation.html" id="myForm" onsubmit="return validateForm(event)">
        <div class="form-upload__img">
          <img alt="" height="500" id="img" src="choose.png"/>
        </div>
        <div class="form__input-title">
          <label for="art-title">Art Title</label>
        </div>
        <div class="form__full-width-input">
          <input
                  id="art-title"
                  name="art-title"
                  placeholder="Art Title"
                  type="text"
          />
          <label for="art-descriptions">Art Descriptions</label><textarea cols="30" id="art-descriptions"
                                                                          name="art-descriptions"
                                                                          placeholder="Descriptions"
                                                                          rows="10"></textarea>
          <input accept="image/*" id="reference-image" name="reference-image" type="file"/>
        </div>
      </form>
    </div>
  </div>
</main>

<footer class="footer"></footer>
<script src="../script/index.js"></script>
<script src="../script/upload.js"></script>
</body>
</html>
