<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/form-commission.css" />
    <script src="../script/form-commission.js"></script>
    <title>Commission Form</title>
  </head>
  <body>
    <!--header-->
    <header class="header">
      <div class="header__left">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <div class="header__logo">
          <a href="index.html">
            <img src="../public/img/logo-ArtVril.png" alt="" />
          </a>
        </div>
        <h1>ArtVril</h1>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Search Images" />
          <a href="search.html">Search</a>
          <!-- <button type="submit">Search</button>  -->
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item-work">
              <a href="form-upload.html"> Upload Your Work </a>
            </li>
            <li class="header__item-envelop">
              <a href="chat.html">&#9993; </a>
            </li>
            <li class="header__item-profile">
              <a href="user-profile.html">
                <img src="../public/img/avril.jpg" alt="user-profile" />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <div class="sidebar__top">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <a href="index.html">
          <img src="../public/img/logo-ArtVril.png" alt="" />
        </a>
      </div>
      <div class="sidebar__menu-list">
        <ul class="sidebar__menu">
          <h3>Home</h3>

          <li class="sidebar__menu-item">
            <a href="search.html"> Illustrations </a>
          </li>

          <li class="sidebar__menu-item"><a href="search.html"> Manga </a></li>

          <li class="sidebar__menu-item"><a href="search.html"> Vector </a></li>
        </ul>
        <ul class="sidebar__menu">
          <h3>Popularity</h3>

          <li class="sidebar__menu-item">
            <a href="search.html"> Top Search </a>
          </li>

          <li class="sidebar__menu-item">
            <a href="search.html"> New Posts </a>
          </li>
          <li class="sidebar__menu-item">
            <a href="profile.html"> Comissions </a>
          </li>
        </ul>
      </div>
      <div class="sidebar__bottom">
        <p>
          Copyright 2023 - ArtVril. All artworks and content shared on this
          social media platform are protected by copyright law. All rights
          reserved.
        </p>
      </div>
    </div>
    <main>
      <div id="form__background">
        <div class="form__header-title">ArtVril Commission Form</div>
        <form id="myForm" action="form-commission-confirmation.html" onsubmit="return validateForm(event)">
          <div class="form__input-title">
            <label for="full-name">Full Name</label>
          </div>
          <div class="form__full-width-input">
            <input
              type="text"
              name="full-name"
              id="full-name"
              placeholder="Full Name"
            />
            <br />
            <span id="fullNameError" class="error"></span>
          </div>

          <div class="form__input-title">
            <label for="email">Email</label>
          </div>
          <div class="form__full-width-input">
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Your Email"
            />
            <br />
            <span id="emailError" class="error"></span>
          </div>

          <div class="form__input-title">
            <label for="contact-number">Contact Number</label>
          </div>
          <div class="form__full-width-input">
            <input
              type="text"
              name="contact-number"
              id="contact-number"
              placeholder="08xx xxxx xxxx"
            />
            <br />
            <span id="contactNumberError" class="error"></span>
          </div>

          <div class="form__half-width">
            <div class="form__half-width-column">
              <div class="form__input-title">
                <label for="contact-number">This artwork is for</label>
              </div>
              <select name="artwork" id="artwork">
                <option value="Personal">Personal</option>
                <option value="Business">Business</option>
                <option value="Gift">Gift</option>
              </select>
              <br />
              <span id="artworkError" class="error"></span>
            </div>

            <div class="form__half-width-column">
              <div class="form__input-title">
                <label for="finish-date">I require this work finished by</label>
              </div>
              <select name="finish-date" id="finish-date">
                <option value="Flexible">Flexible</option>
                <option value="1-4 Weeks">1-4 Weeks</option>
                <option value="4-8 Weeks">4-8 Weeks</option>
              </select>
              <br />
              <span id="finishDateError" class="error"></span>
            </div>
          </div>

          <div class="form__input-title">
            <label for="request">Any Request?</label>
          </div>
          <div class="form__full-width-input">
            <textarea
              name="request"
              id="request"
              cols="30"
              rows="10"
            ></textarea>
          </div>

          <div id="button-div">
            <button type="submit" id="button-submit">Submit</button>
          </div>
        </form>
      </div>
    </main>
    <script src="../script/form-commission.js"></script>
  </body>
</html>
