<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../style/login.css">
    <link rel="stylesheet" href="../style/form-commission.css">
    <script src="../script/form-commission.js"></script>
    <title>Commission Form</title>
</head>
<body>
<main class="register">
    <form onsubmit="validateForm()" method="post" name="form-commission">
        <div class="register__login">
            <h2>Commission Form</h2>
            <div class="register__input-box">
                <label> Title
                    <input type="text" name="title" placeholder="Insert your title here..." required/>
                </label>
            </div>
            <label for="description-textarea">Description</label><textarea name="description"
                                                                           placeholder="Insert the description of your commission here..."
                                                                           class="input"
                                                                           id="description-textarea" cols="30" rows="10"
                                                                           required></textarea>
            <input type="file" name="reference-image" id="reference-image" accept="image/*">

            <label for="estimated-price">Estimated Price</label><input type="text" name="estimated-price" class="input"
                                                                       id="estimated-price" value="Rp 500.000" disabled>
            <div class="register__input-box">
                <input type="submit" value="Submit" id="submit-btn"/>
            </div>
        </div>
    </form>
</main>
</body>
</html>
