<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/form-commission.css" />
    <script src="../script/form-commission.js"></script>
    <script src="../lib/jquery-3.7.0.min.js"></script>
    <script src="../script/headerFooter.js"></script>
    <title>Commission Form</title>
  </head>
  <body>
    <!--header-->
    <header class="nav"></header>

    <main>
      <div id="form__background">
        <div class="form__header-title">ArtVril Commission</div>
        <img src="../icons/check-circle.svg" alt="Check Circle" id="check-circle">
        <div class="confirmation-text">Thank you for filling the form!</div>
        <div class="confirmation-text">The creator will reach out to you ASAP!</div>

      </div>
    </main>
    <footer class="footer"></footer>
    <script src="../script/index.js"></script>
  </body>
</html>
