<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/form.css" rel="stylesheet"/>
  <script src="../lib/jquery-3.7.0.min.js"></script>
  <script src="../script/headerFooter.js"></script>
  <title>ArtVril</title>
</head>
<body>
<header class="nav"></header>


<footer class="footer"></footer>
<script src="../script/index.js"></script>
</body>
</html>
