<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/index.css" />
    <title>ArtVril</title>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <div class="header__logo">
          <a href="index.html">
            <img src="../public/img/logo-ArtVril.png" alt="" />
          </a>
        </div>
        <h1>ArtVril</h1>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Search Images" />
          <a href="search.html">Search</a>
          <!-- <button type="submit">Search</button>  -->
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item-work">
              <a href="form-upload.html"> Upload Your Work </a>
            </li>
            <li class="header__item-envelop">
              <a href="chat.html">&#9993; </a>
            </li>
            <li class="header__item-profile">
              <a href="user-profile.html">
                <img src="../public/img/avril.jpg" alt="user-profile" />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <div class="sidebar__top">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <a href="index.html">
          <img src="../public/img/logo-ArtVril.png" alt="" />
        </a>
      </div>
      <div class="sidebar__menu-list">
        <ul class="sidebar__menu">
          <h3>Home</h3>

          <li class="sidebar__menu-item">
            <a href="search.html"> Illustrations </a>
          </li>

          <li class="sidebar__menu-item"><a href="search.html"> Manga </a></li>

          <li class="sidebar__menu-item"><a href="search.html"> Vector </a></li>
        </ul>
        <ul class="sidebar__menu">
          <h3>Popularity</h3>

          <li class="sidebar__menu-item">
            <a href="search.html"> Top Search </a>
          </li>

          <li class="sidebar__menu-item">
            <a href="search.html"> New Posts </a>
          </li>
          <li class="sidebar__menu-item">
            <a href="profile.html"> Comissions </a>
          </li>
        </ul>
      </div>
      <div class="sidebar__bottom">
        <p>
          Copyright 2023 - ArtVril. All artworks and content shared on this
          social media platform are protected by copyright law. All rights
          reserved.
        </p>
      </div>
    </div>

    <secteion class="carousel">
      <h1>Top Search</h1>
      <div class="container" style="margin: 40px auto; width: 800px">
        <div class="slideshow-container" id="scrollable-container">
          <div class="mySlides fade">
            <img src="../public/art/kazuha_fanart.png" alt="" />
            <div class="text">Kimvrielle</div>
          </div>
          <div class="mySlides fade">
            <img src="../public/img-card/img_cliff.jpg" />
            <div class="text">Forest</div>
          </div>
          <div class="mySlides fade">
            <img src="../public/img-card/img_flowers.jpg" alt="" />
            <div class="text">Flowers</div>
          </div>
          <div class="mySlides fade">
            <img src="../public/img-card/img_oldgreek.jpg" alt="" />
            <div class="text">Oldgreek</div>
          </div>
        </div>

        <div style="text-align: center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </secteion>
    <main class="wrapper">
      <section class="wrapper__content">
        <h3>Anime</h3>
        <div class="cards" id="scrollable-container">
          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img__city.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/avril.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Gentong Ayam</h3>
                  </div>
                </div>
                <p class="card__description">the city as seen from the sky</p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img__cyberpunkcity.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/javierstoy.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Javier</h3>
                  </div>
                </div>
                <p class="card__description">
                  dystopian future cyberpunk city by Midjourney AI
                </p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img__elveninterior.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/waduh.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Om Waduh</h3>
                  </div>
                </div>
                <p class="card__description">elven interior AI art</p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_cliff.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/cris.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Cris paling ganteng</h3>
                  </div>
                </div>
                <p class="card__description">Beautiful cave painting</p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_abstractsea.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/nathan.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Nathan IT Div</h3>
                  </div>
                </div>
                <p class="card__description">
                  Sea painting with abstract style
                </p>
              </div>
            </a>
          </div>
        </div>
      </section>
      <section class="wrapper__content">
        <h3>Recent</h3>
        <div class="cards">
          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_abstract.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/jason.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Hasun</h3>
                  </div>
                </div>
                <p class="card__description">Abstract painting</p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_flowers.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/parry_hotter.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Parry Hotter</h3>
                  </div>
                </div>
                <p class="card__description">
                  European style flowers oil painting
                </p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_oldgreek.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/snape.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Professor Snip</h3>
                  </div>
                </div>
                <p class="card__description">Ancient Greek painting</p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_mountains.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/arnold.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Terminator</h3>
                  </div>
                </div>
                <p class="card__description">Abstract Mountains</p>
              </div>
            </a>
          </div>

          <div>
            <a href="" class="card">
              <img
                src="../public/img-card/img_village_house.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/patrick_bateman.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Sigma</h3>
                  </div>
                </div>
                <p class="card__description">Overgrown village house</p>
              </div>
            </a>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <section class="footer__bar-1">
        <div class="footer__bar-1__left">
          <p>
            We are actively seeking partners who align with our organization and
            share our passion for artistic endeavors. If you are interested in
            collaborating with us, please reach out to us at
          </p>
          <p><b>artvril@artvril.com</b></p>
        </div>
        <div class="footer__bar-1__right">
          <p>Contact Us Now</p>
        </div>
      </section>
      <section class="footer__bar-2">
        <div class="footer__bar-2__left">
          <img src="../public/img/logo-ArtVril.png" alt="logo" />
          <p>Email: artvril@artvril.com</p>
        </div>
        <div class="footer__bar-2__right">
          <div class="footer__bar-2__right-text">
            <p>About Us</p>
            <p>Programs</p>
          </div>
          <div class="footer__bar-2__right-socmed">
            <img src="../public/img/instagram.png" alt="instagram" />
            <img src="../public/img/twitter.png" alt="twitter" />
            <img src="../public/img/behance.png" alt="behance" />
            <img src="../public/img/dribbble.png" alt="dribbble" />
          </div>
        </div>
      </section>
      <section class="footer__bar-3">
        <p>
          &#169; 2023 ArtVril. Trademarks belong to their respective owners. All
          rights reserved.
        </p>
      </section>
    </footer>
    <script src="../script/index.js"></script>
    <script src="../script/carousel.js"></script>
  </body>
</html>
