<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/index.css" rel="stylesheet"/>
  <script src="../lib/jquery-3.7.0.min.js"></script>
  <script src="../script/headerFooter.js"></script>
  <title>ArtVril | Search</title>
</head>
<body>
<header class="nav"></header>

<section class="carousel">
  <h1>Top Search</h1>
  <div class="container" style="margin: 40px auto; width: 800px">
    <div class="slideshow-container" id="scrollable-container">
      <div class="mySlides fade">
        <img alt="" src="../public/art/kazuha_fanart.png"/>
        <div class="text">Kimvrielle</div>
      </div>
      <div class="mySlides fade">
        <img src="../public/img-card/img_cliff.jpg"/>
        <div class="text">Forest</div>
      </div>
      <div class="mySlides fade">
        <img alt="" src="../public/img-card/img_flowers.jpg"/>
        <div class="text">Flowers</div>
      </div>
      <div class="mySlides fade">
        <img alt="" src="../public/img-card/img_oldgreek.jpg"/>
        <div class="text">Oldgreek</div>
      </div>
    </div>

    <div style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</section>
<main class="wrapper">
  <section class="wrapper__content">
    <h3>Anime</h3>
    <div class="cards" id="scrollable-container">
      <div>
        <a class="card" href="arts.html">
          <img
                  alt=""
                  class="card__image"
                  src="../public/art/kazuha_fanart.png"
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                      alt=""
                      class="card__thumb"
                      src="../public/art/gebi.jpg"
              />
              <div class="card__header-text">
                <h3 class="card__title">Kimvrielle</h3>
              </div>
            </div>
            <p class="card__description">the city as seen from the sky</p>
          </div>
        </a>
      </div>

      <div>
        <a class="card" href="arts.html">
          <img
                  alt=""
                  class="card__image"
                  src="../public/img-card/img__cyberpunkcity.jpg"
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                      alt=""
                      class="card__thumb"
                      src="../public/img/javierstoy.jpg"
              />
              <div class="card__header-text">
                <h3 class="card__title">Javier</h3>
              </div>
            </div>
            <p class="card__description">
              dystopian future cyberpunk city by Midjourney AI
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="card" href="arts.html">
          <img
                  alt=""
                  class="card__image"
                  src="../public/img-card/img__elveninterior.jpg"
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                      alt=""
                      class="card__thumb"
                      src="../public/img/waduh.jpg"
              />
              <div class="card__header-text">
                <h3 class="card__title">Om Waduh</h3>
              </div>
            </div>
            <p class="card__description">elven interior AI art</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper__content">
    <h3>Recent</h3>
    <div class="cards">
      <div>
        <a class="card" href="arts.html">
          <img
                  alt=""
                  class="card__image"
                  src="../public/img-card/img_abstract.jpg"
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                      alt=""
                      class="card__thumb"
                      src="../public/img/jason.jpg"
              />
              <div class="card__header-text">
                <h3 class="card__title">Hasun</h3>
              </div>
            </div>
            <p class="card__description">Abstract painting</p>
          </div>
        </a>
      </div>

      <div>
        <a class="card" href="arts.html">
          <img
                  alt=""
                  class="card__image"
                  src="../public/img-card/img_flowers.jpg"
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                      alt=""
                      class="card__thumb"
                      src="../public/img/parry_hotter.jpg"
              />
              <div class="card__header-text">
                <h3 class="card__title">Parry Hotter</h3>
              </div>
            </div>
            <p class="card__description">
              European style flowers oil painting
            </p>
          </div>
        </a>
      </div>

      <div>
        <a class="card" href="arts.html">
          <img
                  alt=""
                  class="card__image"
                  src="../public/img-card/img_oldgreek.jpg"
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                      alt=""
                      class="card__thumb"
                      src="../public/img/snape.jpg"
              />
              <div class="card__header-text">
                <h3 class="card__title">Professor Snip</h3>
              </div>
            </div>
            <p class="card__description">Ancient Greek painting</p>
          </div>
        </a>
      </div>
    </div>
  </section>
</main>

<footer class="footer"></footer>
<script src="../script/index.js"></script>
<script src="../script/carousel.js"></script>
</body>
</html>
