<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/profile.css" />
    <script src="../lib/jquery-3.7.0.min.js"></script>
    <script src="../script/headerFooter.js"></script>
    <title>ArtVril</title>
  </head>
  <body>
  <header class="nav"></header>

    <main class="profile-user">
      <div class="profile-user__header">
        <img src="../public/art/gebi.jpg" alt="user-img" />
        <h2>Kimvrielle</h2>
        <p>
          Glory to God! welcome to gab's art space💫 DM me for commissions <3 ☁️
        </p>
      </div>
      <div class="profile-user__post">
        <a href="arts.html">
          <img src="../public/art/kazuha_fanart.png" alt="" />
        </a>
        <a href="arts.html">
          <img src="../public/art/post-1.jpg" alt="" />
        </a>
        <a href="arts.html">
          <img src="../public/art/post-2.jpg" alt="" />
        </a>
        <a href="arts.html">
          <img src="../public/art/post-3.webp" alt="" />
        </a>
      </div>
    </main>

  <footer class="footer"></footer>

    <script src="../script/index.js"></script>
  </body>
</html>
