<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/profile.css" />
    <title>ArtVril</title>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <div class="header__logo">
          <img src="../public/img/logo-ArtVril.png" alt="" />
        </div>
        <h1>ArtVril</h1>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Search Images" />
          <button type="submit">Search</button>
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item-work">Upload Your Work</li>
            <li class="header__item-envelop">&#9993;</li>
            <li class="header__item-profile">
              <img src="../public/img/avril.jpg" alt="user-profile" />
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <div class="sidebar__top">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <img src="../public/img/logo-ArtVril.png" alt="" />
      </div>
      <div class="sidebar__menu-list">
        <ul class="sidebar__menu">
          <h3>Home</h3>
          <li class="sidebar__menu-item">Illustrations</li>
          <li class="sidebar__menu-item">Manga</li>
          <li class="sidebar__menu-item">Vector</li>
        </ul>
        <ul class="sidebar__menu">
          <h3>Popularity</h3>
          <li class="sidebar__menu-item">Top Search</li>
          <li class="sidebar__menu-item">New Posts</li>
          <li class="sidebar__menu-item">Comissions</li>
        </ul>
      </div>
      <div class="sidebar__bottom">
        <p>
          Copyright 2023 - ArtVril. All artworks and content shared on this
          social media platform are protected by copyright law. All rights
          reserved.
        </p>
      </div>
    </div>

    <main class="profile-user">
      <div class="profile-user__header">
        <img src="../public/art/gebi.jpg" alt="user-img" />
        <h2>Kimvrielle</h2>
        <p>
          Glory to God! welcome to gab's art space💫 DM me for commissions <3 ☁️
        </p>
      </div>
      <div class="profile-user__post">
        <img src="../public/art/kazuha_fanart.png" alt="" />
        <img src="../public/art/post-1.jpg" alt="" />
        <img src="../public/art/post-2.jpg" alt="" />
        <img src="../public/art/post-3.webp" alt="" />
      </div>
    </main>

    <footer>
      <section class="footer__bar-1">
        <div class="footer__bar-1__left">
          <p>
            We are actively seeking partners who align with our organization and
            share our passion for artistic endeavors. If you are interested in
            collaborating with us, please reach out to us at
          </p>
          <p><b>artvril@artvril.com</b></p>
        </div>
        <div class="footer__bar-1__right">
          <p>Contact Us Now</p>
        </div>
      </section>
      <section class="footer__bar-2">
        <div class="footer__bar-2__left">
          <img src="../public/img/logo-ArtVril.png" alt="logo" />
          <p>Email: artvril@artvril.com</p>
        </div>
        <div class="footer__bar-2__right">
          <div class="footer__bar-2__right-text">
            <p>About Us</p>
            <p>Programs</p>
          </div>
          <div class="footer__bar-2__right-socmed">
            <img src="../public/img/instagram.png" alt="instagram" />
            <img src="../public/img/twitter.png" alt="twitter" />
            <img src="../public/img/behance.png" alt="behance" />
            <img src="../public/img/dribbble.png" alt="dribbble" />
          </div>
        </div>
      </section>
      <section class="footer__bar-3">
        <p>
          &#169; 2023 ArtVril. Trademarks belong to their respective owners. All
          rights reserved.
        </p>
      </section>
    </footer>

    <script src="../script/index.js"></script>
  </body>
</html>
