<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../style/login.css"/>
    <title>Register</title>
</head>
<body>
<main class="register">
    <div class="register__login">
        <h2>Register</h2>
        <div class="register__input-box">
            <input type="text" placeholder="Email"/>
        </div>
        <div class="register__input-box">
            <input type="text" placeholder="Full name"/>
        </div>
        <div class="register__input-box">
            <input type="text" placeholder="Password"/>
        </div>
        <div class="register__input-box">
            <input type="password" placeholder="Confirm Password"/>
        </div>
        <div class="register__input-box">
            <input type="submit" value="Register" id="login-btn"/>
        </div>
        <div class="register__group">
            <a href="login.html">Already have an account? Log in</a>
        </div>
    </div>
</main>
</body>
</html>
