<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/register.css" />
    <title>Register</title>
  </head>
  <body>
    <main class="register">
      <div class="register__login">
        <h2>Sign In</h2>
        <div class="register__input-box">
          <input type="text" placeholder="Email" />
        </div>
        <div class="register__input-box">
          <input type="password" placeholder="Password" />
        </div>
        <div class="register__input-box">
          <input type="submit" value="login" id="login-btn" />
        </div>
        <div class="register__group">
          <a href="#">Forget Password</a>
          <a href="#">Sign Up</a>
        </div>
      </div>
    </main>
  </body>
</html>
