<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/search.css" />
    <script src="../lib/jquery-3.7.0.min.js"></script>
    <script src="../script/headerFooter.js"></script>
    <title>ArtVril</title>
  </head>
  <body>
    <header class="nav"></header>

    <main class="wrapper">
      <div class="wrapper__header">
        <div class="wrapper__header-img">
          <img src="../public/art/kazuha_fanart.png" alt="img" />
        </div>
        <div class="wrapper__header-info">
          <h3>Illustrations</h3>
        </div>
      </div>
      <div class="wrapper__content">
        <h4>Top posts</h4>
        <div class="cards">
          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/art/kazuha_fanart.png"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/art/gebi.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Kimvrielle</h3>
                  </div>
                </div>
                <p class="card__description">the city as seen from the sky</p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img__cyberpunkcity.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/javierstoy.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Javier</h3>
                  </div>
                </div>
                <p class="card__description">
                  dystopian future cyberpunk city by Midjourney AI
                </p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img__elveninterior.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/waduh.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Om Waduh</h3>
                  </div>
                </div>
                <p class="card__description">elven interior AI art</p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img_cliff.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/nathan.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Nathan</h3>
                  </div>
                </div>
                <p class="card__description">Beautiful cave painting</p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img_abstractsea.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/nathan.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Nathan IT Div</h3>
                  </div>
                </div>
                <p class="card__description">
                  Sea painting with abstract style
                </p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img_abstract.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/jason.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Hasun</h3>
                  </div>
                </div>
                <p class="card__description">Abstract painting</p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img_flowers.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/parry_hotter.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Parry Hotter</h3>
                  </div>
                </div>
                <p class="card__description">
                  European style flowers oil painting
                </p>
              </div>
            </a>
          </div>

          <div>
            <a href="arts.html" class="card">
              <img
                src="../public/img-card/img_oldgreek.jpg"
                class="card__image"
                alt=""
              />
              <div class="card__overlay">
                <div class="card__header">
                  <img
                    class="card__thumb"
                    src="../public/img/snape.jpg"
                    alt=""
                  />
                  <div class="card__header-text">
                    <h3 class="card__title">Professor Snip</h3>
                  </div>
                </div>
                <p class="card__description">Ancient Greek painting</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer"></footer>
    <script src="../script/index.js"></script>
  </body>
</html>
