<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/upload.css" rel="stylesheet"/>
  <title>ArtVril</title>
</head>
<body>
<header class="header">
  <div class="header__left">
    <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
    <div class="header__logo">
      <a href="index.html">
        <img alt="" src="../public/img/logo-ArtVril.png"/>
      </a>
    </div>
    <h1>ArtVril</h1>
  </div>
  <div class="header__right">
    <div class="header__search">
      <input placeholder="Search Images" type="text"/>
      <a href="search.html">Search</a>
      <!-- <button type="submit">Search</button>  -->
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item-work">
          <a href="form-upload.html"> Upload Your Work </a>
        </li>
        <li class="header__item-envelop">
          <a href="chat.html">&#9993; </a>
        </li>
        <li class="header__item-profile">
          <a href="user-profile.html">
            <img alt="user-profile" src="../public/img/avril.jpg"/>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="sidebar">
  <div class="sidebar__top">
    <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
    <a href="index.html">
      <img alt="" src="../public/img/logo-ArtVril.png"/>
    </a>
  </div>
  <div class="sidebar__menu-list">
    <ul class="sidebar__menu">
      <h3>Home</h3>

      <li class="sidebar__menu-item">
        <a href="search.html"> Illustrations </a>
      </li>

      <li class="sidebar__menu-item"><a href="search.html"> Manga </a></li>

      <li class="sidebar__menu-item"><a href="search.html"> Vector </a></li>
    </ul>
    <ul class="sidebar__menu">
      <h3>Popularity</h3>

      <li class="sidebar__menu-item">
        <a href="search.html"> Top Search </a>
      </li>

      <li class="sidebar__menu-item">
        <a href="search.html"> New Posts </a>
      </li>
      <li class="sidebar__menu-item">
        <a href="profile.html"> Comissions </a>
      </li>
    </ul>
  </div>
  <div class="sidebar__bottom">
    <p>
      Copyright 2023 - ArtVril. All artworks and content shared on this
      social media platform are protected by copyright law. All rights
      reserved.
    </p>
  </div>
</div>

<main>
  <div id="form__background">
    <div class="form-upload">
      <div class="form__header-title">ArtVril Commission Form</div>
      <form action="form-commission-confirmation.html" id="myForm" onsubmit="return validateForm(event)">
        <div class="form-upload__img">
          <img alt="" height="500" id="img" src="choose.png"/>
        </div>
        <div class="form__input-title">
          <label for="art-title">Art Title</label>
        </div>
        <div class="form__full-width-input">
          <input
                  id="art-title"
                  name="art-title"
                  placeholder="Art Title"
                  type="text"
          />
          <label for="art-descriptions">Art Descriptions</label><textarea cols="30" id="art-descriptions"
                                                                          name="art-descriptions"
                                                                          placeholder="Descriptions"
                                                                          rows="10"></textarea>
          <input accept="image/*" id="reference-image" name="reference-image" type="file"/>
        </div>
      </form>
    </div>
  </div>
</main>

<footer>
  <section class="footer__bar-1">
    <div class="footer__bar-1__left">
      <p>
        We are actively seeking partners who align with our organization and
        share our passion for artistic endeavors. If you are interested in
        collaborating with us, please reach out to us at
      </p>
      <p><b>artvril@artvril.com</b></p>
    </div>
    <div class="footer__bar-1__right">
      <p>Contact Us Now</p>
    </div>
  </section>
  <section class="footer__bar-2">
    <div class="footer__bar-2__left">
      <img alt="logo" src="../public/img/logo-ArtVril.png"/>
      <p>Email: artvril@artvril.com</p>
    </div>
    <div class="footer__bar-2__right">
      <div class="footer__bar-2__right-text">
        <p>About Us</p>
        <p>Programs</p>
      </div>
      <div class="footer__bar-2__right-socmed">
        <img alt="instagram" src="../public/img/instagram.png"/>
        <img alt="twitter" src="../public/img/twitter.png"/>
        <img alt="behance" src="../public/img/behance.png"/>
        <img alt="dribbble" src="../public/img/dribbble.png"/>
      </div>
    </div>
  </section>
  <section class="footer__bar-3">
    <p>
      &#169; 2023 ArtVril. Trademarks belong to their respective owners. All
      rights reserved.
    </p>
  </section>
</footer>
<script src="../script/index.js"></script>
<script src="../script/upload.js"></script>
</body>
</html>
