<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="../style/upload.css" rel="stylesheet" />
    <script src="../lib/jquery-3.7.0.min.js"></script>
    <script src="../script/headerFooter.js"></script>
    <title>ArtVril</title>
  </head>
  <body>
    <header class="nav"></header>

    <main>
      <div id="form__background">
        <div class="form-upload">
          <div class="form__header-title">ArtVril Commission Form</div>
          <form
            action="form-commission-confirmation.html"
            id="myForm"
            onsubmit="return validateForm(event)"
          >
            <div class="form-upload__img">
              <img alt="" id="img" src="../public/img/image.png" />
            </div>
            <div class="form__input-title">
              <label for="art-title">Art Title</label>
            </div>
            <div class="form__full-width-input">
              <input
                id="art-title"
                name="art-title"
                placeholder="Art Title"
                type="text"
              />
              <label for="art-descriptions">Art Descriptions</label
              ><textarea
                cols="30"
                id="art-descriptions"
                name="art-descriptions"
                placeholder="Descriptions"
                rows="10"
              ></textarea>
              <input
                accept="image/*"
                id="reference-image"
                name="reference-image"
                type="file"
              />
            </div>
            <button id="button-submit">Upload</button>
          </form>
        </div>
      </div>
    </main>

    <footer class="footer"></footer>
    <script src="../script/index.js"></script>
    <script src="../script/upload.js"></script>
  </body>
</html>
