<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/user-profile.css" />
    <title>ArtVril</title>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <div class="header__logo">
          <a href="index.html">
            <img src="../public/img/logo-ArtVril.png" alt="" />
          </a>
        </div>
        <h1>ArtVril</h1>
      </div>
      <div class="header__right">
        <div class="header__search">
          <input type="text" placeholder="Search Images" />
          <a href="search.html">Search</a>
          <!-- <button type="submit">Search</button>  -->
        </div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__item-work">
              <a href="upload.html"> Upload Your Work </a>
            </li>
            <li class="header__item-envelop">
              <a href="chat.html">&#9993; </a>
            </li>
            <li class="header__item-profile">
              <a href="user-profile.html">
                <img src="../public/img/avril.jpg" alt="user-profile" />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="sidebar">
      <div class="sidebar__top">
        <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
        <a href="index.html">
          <img src="../public/img/logo-ArtVril.png" alt="" />
        </a>
      </div>
      <div class="sidebar__menu-list">
        <ul class="sidebar__menu">
          <h3>Home</h3>

          <li class="sidebar__menu-item">
            <a href="search.html"> Illustrations </a>
          </li>

          <li class="sidebar__menu-item"><a href="search.html"> Manga </a></li>

          <li class="sidebar__menu-item"><a href="search.html"> Vector </a></li>
        </ul>
        <ul class="sidebar__menu">
          <h3>Popularity</h3>

          <li class="sidebar__menu-item">
            <a href="search.html"> Top Search </a>
          </li>

          <li class="sidebar__menu-item">
            <a href="search.html"> New Posts </a>
          </li>
          <li class="sidebar__menu-item">
            <a href="profile.html"> Comissions </a>
          </li>
        </ul>
      </div>
      <div class="sidebar__bottom">
        <p>
          Copyright 2023 - ArtVril. All artworks and content shared on this
          social media platform are protected by copyright law. All rights
          reserved.
        </p>
      </div>
    </div>

    <main class="wrapper">
      <div class="wrapper__user">
        <div class="wrapper__user-header">
          <img src="../public/img/avril.jpg" alt="" />
          <h3>Zbvvvv</h3>
          <p>
            Zbvvvv is a passionate artist who showcases her unique perspective
            through various forms of creative expression. Her work, though not
            professional, captivates with its authenticity and creativity,
            making her a notable presence in the artistic community.
          </p>
        </div>
        <div class="wrapper__user-footer">
          <p>Member since 12 April 2021</p>
        </div>
      </div>
    </main>

    <footer>
      <section class="footer__bar-1">
        <div class="footer__bar-1__left">
          <p>
            We are actively seeking partners who align with our organization and
            share our passion for artistic endeavors. If you are interested in
            collaborating with us, please reach out to us at
          </p>
          <p><b>artvril@artvril.com</b></p>
        </div>
        <div class="footer__bar-1__right">
          <p>Contact Us Now</p>
        </div>
      </section>
      <section class="footer__bar-2">
        <div class="footer__bar-2__left">
          <img src="../public/img/logo-ArtVril.png" alt="logo" />
          <p>Email: artvril@artvril.com</p>
        </div>
        <div class="footer__bar-2__right">
          <div class="footer__bar-2__right-text">
            <p>About Us</p>
            <p>Programs</p>
          </div>
          <div class="footer__bar-2__right-socmed">
            <img src="../public/img/instagram.png" alt="instagram" />
            <img src="../public/img/twitter.png" alt="twitter" />
            <img src="../public/img/behance.png" alt="behance" />
            <img src="../public/img/dribbble.png" alt="dribbble" />
          </div>
        </div>
      </section>
      <section class="footer__bar-3">
        <p>
          &#169; 2023 ArtVril. Trademarks belong to their respective owners. All
          rights reserved.
        </p>
      </section>
    </footer>
    <script src="../script/index.js"></script>
  </body>
</html>
