<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/user-profile.css" rel="stylesheet"/>
  <script src="../lib/jquery-3.7.0.min.js"></script>
  <script src="../script/headerFooter.js"></script>
  <title>ArtVril</title>
</head>
<body>
<header class="nav"></header>

<div class="sidebar">
  <div class="sidebar__top">
    <div class="toggle-btn" onclick="toggleSidebar()">&#9776;</div>
    <a href="index.html">
      <img alt="" src="../public/img/logo-ArtVril.png"/>
    </a>
  </div>
  <div class="sidebar__menu-list">
    <ul class="sidebar__menu">
      <h3>Home</h3>

      <li class="sidebar__menu-item">
        <a href="search.html"> Illustrations </a>
      </li>

      <li class="sidebar__menu-item"><a href="search.html"> Manga </a></li>

      <li class="sidebar__menu-item"><a href="search.html"> Vector </a></li>
    </ul>
    <ul class="sidebar__menu">
      <h3>Popularity</h3>

      <li class="sidebar__menu-item">
        <a href="search.html"> Top Search </a>
      </li>

      <li class="sidebar__menu-item">
        <a href="search.html"> New Posts </a>
      </li>
      <li class="sidebar__menu-item">
        <a href="profile.html"> Comissions </a>
      </li>
    </ul>
  </div>
  <div class="sidebar__bottom">
    <p>
      Copyright 2023 - ArtVril. All artworks and content shared on this
      social media platform are protected by copyright law. All rights
      reserved.
    </p>
  </div>
</div>

<main class="wrapper">
  <div class="wrapper__user">
    <div class="wrapper__user-header">
      <img alt="" src="../public/img/avril.jpg"/>
      <h3>Zbvvvv</h3>
      <p>
        Zbvvvv is a passionate artist who showcases her unique perspective
        through various forms of creative expression. Her work, though not
        professional, captivates with its authenticity and creativity,
        making her a notable presence in the artistic community.
      </p>
    </div>
    <div class="wrapper__user-footer">
      <p>Member since 12 April 2021</p>
    </div>
  </div>
</main>


<footer class="footer"></footer>
<script src="../script/index.js"></script>
</body>
</html>
