<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Card</title>
    <link rel="stylesheet" href="../style/card.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="cards">
      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img__city.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/avril.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Gentong Ayam</h3>
              </div>
            </div>
            <p class="card__description">the city as seen from the sky</p>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
