<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Card</title>
    <link rel="stylesheet" href="../style/card.css" />
  </head>
  <body>
    <div class="cards">
      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img__city.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/avril.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Gentong Ayam</h3>
              </div>
            </div>
            <p class="card__description">the city as seen from the sky</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img__cyberpunkcity.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img
                class="card__thumb"
                src="../public/img/javierstoy.jpg"
                alt=""
              />
              <div class="card__header-text">
                <h3 class="card__title">Javier</h3>
              </div>
            </div>
            <p class="card__description">
              dystopian future cyberpunk city by Midjourney AI
            </p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img__elveninterior.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/waduh.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Om Waduh</h3>
              </div>
            </div>
            <p class="card__description">elven interior AI art</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_cliff.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/cris.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Cris paling ganteng</h3>
              </div>
            </div>
            <p class="card__description">Beautiful cave painting</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_abstractsea.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/nathan.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Nathan IT Div</h3>
              </div>
            </div>
            <p class="card__description">Sea painting with abstract style</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_abstract.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/jason.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Hasun</h3>
              </div>
            </div>
            <p class="card__description">Abstract painting</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_flowers.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/parry_hotter.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Parry Hotter</h3>
              </div>
            </div>
            <p class="card__description">European style flowers oil painting</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_oldgreek.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/snape.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Professor Snip</h3>
              </div>
            </div>
            <p class="card__description">Ancient Greek painting</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_mountains.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/arnold.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Terminator</h3>
              </div>
            </div>
            <p class="card__description">Abstract Mountains</p>
          </div>
        </a>
      </div>

      <div>
        <a href="" class="card">
          <img
            src="../public/img-card/img_village_house.jpg"
            class="card__image"
            alt=""
          />
          <div class="card__overlay">
            <div class="card__header">
              <img class="card__thumb" src="../public/img/patrick_bateman.jpg" alt="" />
              <div class="card__header-text">
                <h3 class="card__title">Sigma</h3>
              </div>
            </div>
            <p class="card__description">Overgrown village house</p>
          </div>
        </a>
      </div>

    </div>
  </body>
</html>
