<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="../style/footer.css" rel="stylesheet"/>
  <title>Document</title>
</head>
<body>

<footer>
  <section class="footer__bar-1">
    <div class="footer__bar-1__left">
      <p>
        We are actively seeking partners who align with our organization and
        share our passion for artistic endeavors. If you are interested in
        collaborating with us, please reach out to us at
      </p>
      <p><b>artvril@artvril.com</b></p>
    </div>
    <div class="footer__bar-1__right">
      <a href="contact-us.html"><p>Contact Us Now</p></a>
    </div>
  </section>
  <section class="footer__bar-2">
    <div class="footer__bar-2__left">
      <img alt="logo" src="../public/img/logo-ArtVril.png"/>
      <p>Email: artvril@artvril.com</p>
    </div>
    <div class="footer__bar-2__right">
      <div class="footer__bar-2__right-text">
        <p><a href="about-us.html"> About Us </a></p>
      </div>
      <div class="footer__bar-2__right-socmed">
        <img alt="instagram" src="../public/img/instagram.png"/>
        <img alt="twitter" src="../public/img/twitter.png"/>
        <img alt="behance" src="../public/img/behance.png"/>
        <img alt="dribbble" src="../public/img/dribbble.png"/>
      </div>
    </div>
  </section>
  <section class="footer__bar-3">
    <p>
      &#169; 2023 ArtVril. Trademarks belong to their respective owners. All
      rights reserved.
    </p>
  </section>
</footer>

</body>
</html>
